/*font-family: 'Audiowide', cursive;
font-family: 'Open Sans', sans-serif;
colors brun foncé #5D1800, brun moyen #8B2D0F, beige #99846D, jaune #F2E4A1*/
h1, h2{
    font-family: 'Audiowide', cursive;
    color: #5D1800;
    background-color: transparent;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: black;
}
body .button:hover{
    color: black !important;
}
body p, li{
    color: black; 
    font-weight: 700;
    font-size: 1rem;
 }
 .button{
	color: white !important;
}
.button:hover{
	color: #5D1800 !important;
}
 strong{
     font-weight: bold;
     color:#8B2D0F
 }
 .box{
     border: solid 2px #5D1800;
     border-radius: 10px;
 }
 /*---menu grand------------------------ */
.navbar {
    background-color: #99846D;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    padding: 25px 50px 75px 100px;
    text-align: center;
    min-width: 100%;
    transform: translateZ(0);
    z-index: 1;
}
/* liens de la barre de navigation */
.navbar a {
float: left;
font-size: 24px;
font-weight: 800;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* liste déroulante*/
.dropdown {
float: left;
}
/* bouton de liste déroulante */
.dropdown .dropbtn {
font-size: 24px;
border: none;
outline: none;
color: white;
display: flex;
align-items: center;
background-color: inherit;
font-family: inherit; /* alignement vertical sur smartphone */
margin: 0; /* alignement vertical sur smartphone*/
}
/* met une couleur sur les lien du sous-menu au passage de la souris*/
.navbar a:hover, .dropdown:hover .dropbtn {
background-color:#5D1800;
border-radius: 10px;
color: white !important;
}
.navbar:hover > a:first-child{
    background-color: transparent !important;
}
/* box du sous-menu invisible par défaut*/
.dropdown-content {
display: none;
position: absolute;
height: auto;
overflow: hidden;
background-color: #99846D;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
transform: translateZ(0);
z-index: 100;
}
/* liste du sous-menu */
.dropdown-content a {
float: none;
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
/* sous-menu au passage de la souris */
.dropdown-content a:hover {
background-color: #5D1800;
color: white !important;
}
/* montre la liste du sous-menu au passage de la souris */
.dropdown:hover .dropdown-content {
display: block;
}
 /*---burger--mobile---tablette--------------------------------------*/
 @media screen and (min-width: 1000px){
    .mobile-container{
        display: none;
    }
}
 @media screen and (max-width: 999px){
     .navbar{
         display: none;
     }
    .mobile-container {
        position: -webkit-sticky;
        position: sticky;
        top: 0%;
        z-index: 100;
        max-width:100%;
       
        color: white;
        border-radius: 10px;
    }
    .topnav {
        overflow: hidden;
        background-color: #99846D;
        position: relative;
    }
    .topnav #menu {
        display: none;
    }
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        display: block;
    }
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav a:hover {
        background-color: #F2E4A1;
        color: black !important;
    }
    .topnav:hover a:first-child{
        background-color: transparent;
    }
    .active {
        background-color: #99846D;
        color: white;
    }
}
/*---intro-------------------------------------------*/
#top{
    background-color:#99846D;
}
/*---formation-------------------------------------------*/
#work ul{
    list-style: none;
    text-align: left;
    color: black;
    background-color: white !important;
    border-left: solid 2px #5D1800;
}
#work h4 {
    text-align: left;
}
#work img{
    text-align: center;
    border-radius: 100%;
}
#work img:last-child{
    margin-top: 10%;
}
#work .aln-center{
    background-color: #99846D;
    padding: 5%;
}

@media screen and (max-width: 736px){
    #work img {
        display : none;
    }
    .row .col-6{
        min-width: 100%;
    }
}
/*---assistance-------------------------------------------*/
.wrapper.style3 {
    background-color: #99846D !important;
}
.tarif{
    margin: auto;
    margin-top: 3%;
    background-color: white;
    padding: 1rem;
    border: solid 2px #5D1800;
    border-radius: 10px;
}
@media screen and (max-width: 736px){
    .tarif{
    margin: 15px 0 0 15px;
    }
    .fit{
        max-width: 50%;
        margin: auto;
    }
}
/*---association---------------------------------------------*/
#groupe p{
    text-align: left;
    padding-left: 1%;
    background-color: white;
    border-left: solid 2px #5D1800; 
}
@media screen and (max-width: 900px){
    .fit{
        max-width: 70%;
        margin: auto;
    }
}
#groupe .row > .col-4{
    margin: auto;
}
.footer{
    text-align: center !important;
    background-color: transparent !important;
    border: none !important;
}
#groupe h1, #groupe h3{
    text-align: left;
}
#groupe h2{
    margin-top: 3%;
}
.trombinoscope{
    max-width: 50%;
    margin: auto;
}
/*----équipe-------------------------------------------*/
#team{
    background-color: #99846D;
    padding-bottom: 12%;
}
#team h3{
    text-align: left;
}
#team p {
    text-align: left;
    padding-left: 1%;
    border-left: solid 2px #5D1800;    
}
#team .row{
    background-color: white;
    border: solid 2px #5D1800; 
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
@media screen and (max-width: 700px){
    #team .row{
       margin-left:auto; 
       margin-right:auto;
       margin-top: 5px;
    }
    .btncnt{
        max-width: 80% !important;
    }
    #team img{
        margin: auto !important;
    }
}

/*---partenaire---------------------------------*/
#part p {
    text-align: left;
    padding-left: 1%;
    border-left: solid 2px #5D1800; 
    background-color: white;   
}
#part .col-7{
    margin:auto;
}
/*---contact----------------------------------*/
.wrapper.style4 {
    background-color: #99846D;
    color: #999;
    text-shadow: -1px -1px 0px #181818;
}
#contact h2{
    color:#5D1800;
    font-weight: normal;
}
.wrapper.style4 form input[type="text"]{
    background-color: ivory;
}
.wrapper.style4 form textarea{
    background-color: ivory;
}
/*----copyright--------------------------------------*/
#copyright li {
    color: #5D1800 !important;
    display: inline-block;
    box-shadow: none !important;
    padding: 0 0 0 1em;
    margin: 0 0 0 1em;
}
#copyright a:hover {
    color: #F2E4A1 !important;
}